.nav {
  padding: 15px;
  background-color: greenyellow;
  width: 100vw;
  position: fixed;
  top: 0%;
  img {
    width: 2rem;
  }
}

.priceContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;

  height: 300px;
}

.form {
  display: flex;
  flex-direction: column;
}
select {
  text-align: center;
}
