.nav {
  padding: 15px;
  background-color: greenyellow;
  width: 100vw;
  position: fixed;
  top: 0%;
}

.priceContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 600px;
  height: 300px;
}

// .form {
//   width: 600px;
//   margin: auto;
// }
